
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}
h2 {
    text-align: center;
}
.dashboard {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.search-bar {
    margin-bottom: 20px;
}
.search-bar input {
    width: 91%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.user-list {
    margin: 22px;
}
.user-list div {
    margin: 10px;
    border: 1px solid rgb(255, 85, 0);
    border-radius: 10px;
    padding: 11px;
    width: 92%;
}
button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-end;
    position: relative;
    bottom: 41px;
    left: 5px;
}
.btn {
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background-color: orangered;
    margin: 0 auto;
    position: relative;
    top: 10px;
    float: none;
}